{% extends "base.html" %}

{% load static %}
{% load bootstrap5 %}


{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block content %}

<body style= "background-color: #ebecf1;">
    <center>
        <h1 class=" mt-5" style="font-family:'Nunito Sans', Arial"><b>Assignments</b></h1>
    </center>
    <br>
         <div class= "container">
             <div class="row justify-content-center text-wrap">
                 <!--Assignments List (left)-->
                 <div class="col">
                    <form method="POST" action="{% url 'main_app:addAssignment' %}" style="display: inline;">
                        {% csrf_token %}
                        <input type="text" placeholder="Enter class name" name="class_name">
                        <input type="text" placeholder="Enter assignment name" name="assignment_name">
                        <input type="text" placeholder="Enter due date" name="due_date">
                        <br><br>
                        <textarea placeholder="Enter assignment description (200 character limit)" name="description" rows="4" cols="75" maxlength="200"></textarea>
                        <br>
                        <button type="submit" value="Submit" class="btn btn-primary mt-3 text-center">Add Assignment</button>
                    </form>
                 </div>
                 <!--Add Assignment (right)-->
                 <div class="col text-wrap">
                    <ul class= "no-bullets text-wrap">
                        {% for assignment in my_assignments %}
                        <li>
                        <form method="POST" action="{% url 'main_app:removeAssignment' assignment.id %}"
                             style="display: inline;">
                             {% csrf_token %}
                             <button class="btn btn-secondary btn-sm">Remove Assignment</button>
                             <p">   {{assignment.class_name}}: {{assignment.name}} - {{assignment.description}}</p>
                         </form>
                         </li>
                         {% endfor %}
                     </ul>
                 </div>  
             </div>
         </div>
 </body>
{% endblock %}
