{% extends "base.html" %}

{% load static %}
{% load bootstrap5 %}


{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block content %}
<body>
    <center><div class="card border-light mb-3" style="width: 68rem; padding:0rem">
        <div class="card-header" style="font-family: 'Nunito Sans'; font-size: 32px;"><b>Assignments</b></div>
        <div class= "container border-0">
            <div class="row">
                <div class="col-8">
                    <div class="card">
                        <div class="card-body">
                            <ul class= "no-bullets">
                                {% for assignment in my_assignments %}
                                <li>
                                    <form method="POST" action="{% url 'main_app:removeAssignment' assignment.id %}"
                                        style="display: inline;">
                                        {% csrf_token %}
                                        <button type="button" class="btn btn-secondary">remove assignment</button>
                                        <p">{{asssignment.name}} - {{assignment.description}}</p>
                                    </form>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                  <div class="card-body">
                    <form method="POST" action="{% url 'main_app:addAssignment' %}" style="display: inline;">
                        {% csrf_token %}
                        <input type="text" placeholder="Enter assignment name" name="assignment_name">
                        <input type="text" placeholder="Enter class name" name="class_name">
                        <br><br>
                        <textarea placeholder="Enter assignment description" name="description" rows="4" cols="40"></textarea>
                        <button type="submit" value="Submit" class="btn btn-primary mt-3">Add Assignment</button>
                    </form>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</body>
{% endblock %}
