{% extends "base.html" %}

{% load static %}
{% load bootstrap5 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block content %}
<head>
    <title>Classes</title>
</head>

<body>
    <center><h1 class=" mt-5" style= "font-family:'Nunito Sans', Arial"><b>Class Info</b></h1><br>
    <form method="POST" action="{% url 'main_app:addCourse' class_detail.id %}" style="display: inline;">
        {% csrf_token %}
        <button class="btn btn-primary btn-sm">Add Course</button>
    </form>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <form method="POST" action="{% url 'main_app:removeCourse' class_detail.id %}" style="display: inline;">
        {% csrf_token %}
        <button class="btn btn-danger btn-sm">Remove Course</button>
    </form></center>
    <div class=" container">
        <br>
        <center><div class="card" style="width: 40rem;">
            <div class="card-header bg-light" style="font-family: 'Nunito Sans'; font-size: 32px;"><b>{{class_detail.subject}}{{class_detail.code}}</b></div>
                <div class="card-body">
                    <h3 class="card-title">{{class_detail.name}}</h3>
                    <br>
                    <h4 class="card-subtitle mb-2 text-muted">Course Information:</h4>
                    <p class="card-text">
                        <p>Professor: {{class_detail.professor}}</p>
                        <p>Meeting days:
                        {% if "M" in class_detail.day %}
                        Mo
                        {% endif %}
                        {% if "T" in class_detail.day %}
                        Tu
                        {% endif %}
                        {% if "W" in class_detail.day %}
                        We
                        {% endif %}
                        {% if "R" in class_detail.day %}
                        Th
                        {% endif %}
                        {% if "F" in class_detail.day %}
                        Fr
                        {% endif %} </p>
                        <p>Start time: {{class_detail.start_time}}</p>
                        <p>End time: {{class_detail.end_time}}</p>
                        <p>Section: {{class_detail.section}}</p>
                        <p>Size: {{class_detail.size}}</p>
                        <br>
                        <a href="/addClasses">Return to Class Selection</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/">Return to Profile</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/listClasses">Return to Schedule</a>
                    </p>
                </div>
        </div></center>
        <br><br>        
        <div class="list-group">
            <center><div class="card-header bg-light w-75" style="font-family: 'Nunito Sans'; font-size: 28px;"><b>{{class_detail.subject}}{{class_detail.code}} Documents</b></div></center>
            {% if classdocs %}
                {% for document in classdocs %}
                    <center><div class="list-group-item w-75">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1"><a href="{{ document.document.url }}" target="_blank">{{ document.title }}</a></h5>
                            <br>
                            <small class="text-muted">{{document.date}} (UTC)</small>
                        </div>
                        <div class="d-flex w-100 justify-content-between">
                            <p class="d-inline mb-1">Uploaded by: {{document.profile.user}}</p>
                            <center><a href="{{ document.document.url }}" class="btn btn-primary btn-sm" download>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                                  <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                                  <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                                </svg>
                                &nbsp;Download</a>
                        </div>
                    </div></center>
                {% endfor %}
            {% else %}
            <center><div class="list-group-item w-75">
                <p class="d-inline mb-1">This class currently has no documents.</p>
            </div></center>
            {% endif %}
        </div>
    </div><br><br><br><br><br>
</body>

<style type="text/css">
    body{
      color: #1a202c;
      text-align: left;
      background-color: #ebecf1;    
    }
    
    .card {
        background-color: #fff;
    }
    
    .btn-primary {
        color: #fff;
        background-color: #466197;
        border-color: #f69350;
    }
    .btn-primary:hover {
        background-color: #5374b6;
    }
    </style>
{% endblock %}