{% extends "base.html" %}

{% load static %}
{% load bootstrap5 %}

{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block content %}
<head>
    <title>Classes</title>
</head>

<body>
    <div class=" container">
        <br><br>
        <h3 class="mt-5" style="display: inline;">{{class_detail.subject}} {{class_detail.code}}</h3> <strong>- {{class_detail.name}}</strong></br></br>
        <h4>Course Information:</h4>
        <p>section: {{class_detail.section}}</p>
        <p>professor: {{class_detail.professor}}</p>
        <p>size: {{class_detail.size}}</p>
        <p>meeting days: {{class_detail.day}}</p>
        <p>start time: {{class_detail.start_time}}</p>
        <p>end time: {{class_detail.end_time}}</p>
        <form method="POST" action="{% url 'main_app:addCourse' class_detail.id %}" style="display: inline;">
            {% csrf_token %}
            <button class="btn btn-primary btn-sm">Add Course</button>
        </form>
        <form method="POST" action="{% url 'main_app:removeCourse' class_detail.id %}" style="display: inline;">
            {% csrf_token %}
            <button class="btn btn-secondary btn-sm">Remove Course</button>
        </form>
        <h4>Students:</h4>
        <ol>
            {% for student in class_detail.profiles.all %}
                <li>{{student.computing_id}} - {{student.user.username}}</li>
            {% endfor %}
        </ol>
        <a href="/">Go to Profile</a>
        <a href="/addClasses">Go to Class Selection</a>
    </div>
</body>

<style type="text/css">
    body{
      color: #1a202c;
      text-align: left;
      background-color: #ebecf1;    
    }
    
    .card {
        background-color: #fff;
    }
    
    .btn-primary {
        color: #fff;
        background-color: #466197;
        border-color: #f69350;
    }
    .btn-primary:hover {
        background-color: #5374b6;
    }
    </style>
{% endblock %}