{% extends "base.html" %}

{% load static %}

{% block content %}
<head>
    <title>Classes</title>
</head>

<body>
    <div class=" container">
        <div class="d-flex justify-content-center">
            <h1 class="mt-5">Find Classes</h1>
        </div>
        <form action="{% url 'main_app:filterclasses' %}" method="post">
            {% csrf_token %}
            <input type="text" placeholder="Search for classes" name="query" class="form-control">
            <input type="radio" id="name" name="queryType" value="name" checked>
            <label for="name">Course Title</label>
            <input type="radio" id="id" name="queryType" value="id">
            <label for="id">ID</label>
            <input type="radio" id="professor" name="queryType" value="professor">
            <label for="professor">Professor</label>
            <input type="radio" id="subject" name="queryType" value="subject">
            <label for="subject">Mnemonic</label>
            <br>
            <button type="submit" value="Submit" class="btn btn-primary mt-3">Search</button>
        </form>
        <ul>
            {% for course in courses %}
            <li>
                <form method="POST" action="{% url 'main_app:addCourse' course.id %}" style="display: inline;">
                    {% csrf_token %}
                    <button>add course</button>
                </form>
                <form method="POST" action="{% url 'main_app:removeCourse' course.id %}" style="display: inline;">
                    {% csrf_token %}
                    <button>remove course</button>
                    <strong><a href="{% url 'main_app:classdetail' course.id %}">{{course.subject}}
                            {{course.code}}</a> - {{course.name}}: {{course.section}}, {{course.professor}}</strong>
                </form>

            </li>

            {% endfor %}
        </ul>
    </div>
    <br><br><br><br>
</body>
{% endblock %}
