{% extends "base.html" %}

{% load static %}

{% block content %}
<style>
.input-group-btn.input-space {
  padding-left: 15px;
}
.btn-primary {
    color: #fff;
    background-color: #466197;
    border-color: #f69350;
}
.btn-primary:hover {
    background-color: #5374b6;
}
</style>

<head>
    <title>Classes</title>
</head>

<body style= "background-color: #ebecf1;">
    <div class="container">
        <div class="d-flex justify-content-center">
            <h1 class="mt-5">Find Classes</h1>
        </div>
        <center>
            <form action="{% url 'main_app:filterclasses' %}" method="post" class="align-items-center">
                {% csrf_token %}
                <div class="input-group mb-2 col-6">
                    <input type="text" placeholder="Search for classes" name="query" class="form-control">
                    <div class="input-group-append input-group-btn input-space">
                        <button type="submit" value="Submit" class="btn btn-primary">Search</button>
                    </div>
                </div>
                <div class="form-group mb-2">
                    <input type="radio" id="name" name="queryType" value="name" checked {% if queryType == "name" %}checked="checked"{% endif %}>
                    <label for="name">Course Title (e.g. "Advanced Software Development")</label>
                    <input type="radio" id="code" name="queryType" value="code" {% if queryType == "id" %}checked="checked"{% endif %}>
                    <label for="id">Course Code (e.g. "CS 3240")</label>
                    <input type="radio" id="professor" name="queryType" value="professor" {% if queryType == "professor" %}checked="checked"{% endif %}>
                    <label for="professor">Professor (e.g "Sherriff,Mark")</label>
                    <input type="radio" id="subject" name="queryType" value="subject" {% if queryType == "subject" %}checked="checked"{% endif %}>
                    <label for="subject">Subject (e.g. "CS")</label>
                </div>
            </form>
        </center>
        <ul class="no-bullets ml-20">
            {% for course in courses %}
            <li>
                <strong><a href="{% url 'main_app:classdetail' course.id %}" class="mt-2">{{course.subject}}
                        {{course.code}}</a> - {{course.name}}: {{course.section}}, {{course.professor}}</strong><br>
            </li>

            {% endfor %}
        </ul>
    </div>
    <br><br><br><br>
</body>
{% endblock %}
