{% load static %}
{# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% load socialaccount %}
<html>
<head>
    <title>Login Page</title>
    </head>
    <body>
        <h1>Welcome to Wahoo Notes</h1>
        <p>Tackle any class with your notes and schedule all in one place.</p>
    </body>
</head>
{% if user.is_authenticated %}
    <meta http-equiv="refresh" content="0; url= 'index.html'" />
{% else %}
<h1>Login using Google to use our app! </h1>
<a href="{% provider_login_url 'google' %}">Login With Google</a>
{% endif %}


</html>
