{% extends "base.html" %}

{% block content %}
<center>
<h1 class="mt-5">Find students in your classes</h1>
</center>
<!--<ol>
    {% for student in students %}
        <li>{{student.student.computing_id}} - {{student.student.user.username}}</li>
        <ul>
            {% for class in student.sharedClasses %}
                <li>{{ class.name }}</li>
            {% endfor %}
        </ul>
    {% endfor %}
</ol>-->
<body style= "background-color: #ebecf1;">
    @{int i=0;}
<center>
<body style= "background-color: #ebecf1;">
<div class="accordion" id="accordion_@i">
    {% for class in classes %}
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse_@i" aria-expanded="true" aria-controls="collapseOne">
            {{ class.class.name }}
          </button>
        </h2>
      </div>
    </div>
    <div id="collapse_@i" class="collapse" aria-labelledby="headingOne" data-parent="#accordion_@i">
        <div class="card-body">
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            <ol class="li">
                {% for student in class.students %}
                    <li>{{ student.user }}</li>
                {% endfor %}
            </ol>
        </div>
      </div>
    {% endfor %}
    </div></center>
</body>
{% endblock %}
<style>
li{
 list-style-type:none;
}
</style>
